.s-hero {
  position: relative;
  background-image: url("../img/hero-bg.png");
}

.s-hero__icon {
  position: absolute;
  bottom: 25px;
  opacity: 0.8;
  svg {
    animation: pulse 1.4s linear infinite normal;
  }
}

@keyframes pulse {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
