.u-bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.u-overlay {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60vh;
    background: linear-gradient(to bottom, transparent, $color-black);
  }
}
